/*====== General =======*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {
  --orange: #f58220;
  --gray: #42515a;
  --white: #fff;
--titillium: 'Titillium Web', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body {
  font-family: var(--titillium);
}

h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  text-transform: capitalize;
}

.wrapp {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border: transparent;
}
li {
    list-style: none !important;
}

/*========= Main ===============*/
main .wrapp {
  overflow: hidden;
}

main {
  background-image: url("./img/wells_background.png");
  background-repeat: no-repeat;
  background-size: contain;
}

main h1 {
  text-align: center;
  padding: 50px 0;
}


/*======== Section one ============*/

.section-one-home {
   display: flex; 
  /* flex-direction: row; */
  margin-top: -6px !important;
  background-color: var(--white);
}

.info {
  /* display: flex; */
  /* flex-basis: 33%;
  text-align: center;*/
  /* padding-bottom: 50px !important;  */
  margin: auto;

}

.info h2 {
  /* padding: 20px; */
  color: var(--orange);
}

.info p {
  padding: 0 40px;
  color: var(--gray);
}


/*========== Section two =================*/

.section-two-home {
  background-image: url("./img/home_content.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-two-home p {
  /* text-align: center; */
  padding: 150px !important;
  color: var(--white);
}
/*========= Section three ============*/

.section-three {
  background-color: #fff;
  /* text-align: center; */
  padding: 50px 0 70px;
  color: var(--gray);
}

.section-three p {
  padding: 0 150px;
}

.section-three h2 {
  margin-top: 10px;
}
/* Footer */
footer .wrapp {

  background-image: url("./img/bg_orange.png");
}

/* nav.foot {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 20px;
} */

footer p {
  /* display: flex;
  justify-content: center;
  padding-bottom: 40px;
  color: var(--white); */
   padding: 40px !important; 
} 

.foot a {
  text-transform: uppercase;
  padding: 2px 15px;
  /* color: var(--white); */
}

.foot a:hover {
  color: var(--gray);
}

footer p span {
  padding: 0 5px !important;
}

footer p span:first-child::after {
  content: "I";
  margin-left: 10px !important;
}

/*============ Media Queries=====================*/

@media only screen and (max-width: 800px) {
  header .wrapp {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  main h1 {
    padding: 0px 50px;
  }

  .nav-up {
    display: none;
  }

  .logo {
    margin-top: 10px;
  }

  .section-one-home {
    display: flex;
    flex-direction: column;
  }

  .section-two-home p {
    padding: 30px;
  }

  .section-three p {
    padding: 30px 30px 0 30px;
  }

  .section-three h2 {
    padding: 0 30px;
  }

  nav.foot {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-one-serv {
    display: flex;
    flex-direction: column;
  }

  .cnt-info {
    display: flex;
    flex-direction: column;
  }

  .address {
    text-align: center;
    margin-bottom: 10px;
  }

  .brick {
    margin-top: 180px;
  }

  .cnt-form {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .logo {
    transform: scale(0.7);
  }

  h2 {
    transform: scale(0.9);
  }

  .nav-down {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
  }

  main h1 {
    transform: scale(0.6);
    padding: 0;
  }

  .address {
    max-width: 100%;
  }

  .tel {
    margin-top: 20px;
    margin-left: -10px;
  }

  .brick {
    margin-top: 110px;
  }

  .section-three .h2-cnt {
    padding: 0px;
    transform: scale(0.8);
  }
}