/*====== General =======*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

:root {
  --orange: #f58220;
  --gray: #42515a;
  --white: #fff;
--titillium: 'Titillium Web', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body {
  font-family: var(--titillium);
}

h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  text-transform: capitalize;
}

.wrapp {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border: transparent;
}
li {
    list-style: none !important;
}
/*========== Header ============*/

/* .nav-down > a:hover:after,
.nav-down > a.active:after,
.nav-down >li > a:hover:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--orange);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
} */
